@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .light {
  background-color: #f6f0e8; /* Default off-white color */
/* } */
.greeny {
  background-color: #90ee90; /* Default off-white color */
}

@keyframes turtleMovement {
  0%,
  100% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(2px);
  }
}

.turtle-animation {
  animation: turtleMovement 1s infinite ease-in-out;
  will-change: transform;
}

/* components/CursorTrail.module.css */
